@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 144 26% 95%;
    --foreground: 161 44% 16%;

    --muted: 145 24% 91%;
    --muted-foreground: 157 15% 42%;

    --popover: 140 27% 98%;
    --popover-foreground: 161 44% 16%;

    --card: 140 27% 98%;
    --card-foreground: 161 44% 16%;

    --border: 145 20% 80%;
    --input: 145 20% 76%;

    --primary: 157 48% 27%;
    --primary-foreground: 140 33% 97%;

    --secondary: 145 27% 90%;
    --secondary-foreground: 159 43% 22%;

    --accent: 145 29% 89%;
    --accent-foreground: 159 43% 22%;

    --destructive: 0 100% 75%;
    --destructive-foreground: 210 40% 98%;

    --ring: 157 31% 48%;

    --radius: 0.5rem;
  }

  .dark,
  [data-theme="dark"] {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --primary: 158 89.6% 45.1%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply min-h-dvh bg-background text-foreground antialiased;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}
